#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  font-family: sans-serif;
  color: #666;
}

input {
  margin-left: 8px;
}

p {
  margin: 0;
}
button {
  border-radius: 8px;
  border: none;
  margin: 0px 2px;
}

button:hover {
  background-color: #79a8a9;
  color: #fff;
  cursor: pointer;
}
